@import "https://unpkg.com/chota@latest";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";

#msg {
    color: green;
    font-weight: bold;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #2F353E;
}

span[data-username]::after{
    content: attr(data-username);
}
span[data-nickname]::after{
    content: attr(data-nickname);
}
span[data-email]::after{
    content: attr(data-email);
}
span[data-avatar]::after{
    content: attr(data-avatar);
}


h1 {
    cursor: pointer;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
}

.status_header {
    color: gray;
}

.info{
    display:  inline-block;
}

.info.username{
    margin-right: 10px;
}

.info.role{
    text-transform: uppercase;
}

.roleBtn{
    background-color: white;
    color: #2F353E;
    padding: 6px;
    font-weight: bold;
    border-radius: 20px;
}

.roleBtn:hover{
    background-color: #2F353E;
    color: white;
    padding: 6px;
    font-weight: bold;
    border-radius: 20px;
}

#userList li{
    padding: 5px 0px;
}

.no-break {
    white-space: nowrap;
}
